$def with (signup)

$var title: 登录
$var css:
$var js:


<div >
<br/>
  <form id="f_login" name="f_login" method="post" action="/login" data-ajax="false">
    <table>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td>用户名</td>
        <td><label>
          <input type="text" name="name" id="name" />
        </label></td>
      </tr>
      <tr>
        <td>密码</td>
        <td><label>
          <input type="password" name="passwd" id="pwd" />
        </label></td>
      </tr>
      <tr>
        <td><label>
          <input data-theme="b" type="submit" name="button" id="button" data-icon="check" value="登录" />
        </label></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>

 <p> </p>
 
</div>
