$def with (name, str1)

$var title: 订单管理
$var css:
$var js: /static/js/time.js /static/My97DatePicker/WdatePicker.js
$var name: $'|'.join(str1) $name
$var load: InitInit();
$var menu: #orde5

<script type="text/javascript">
function InitInit(){
	var date =  new Time();
	var m_dtCalendarDate = date.getStringTime().split(" ")[0];;

	WdatePicker({
		minDate:'2014-01-01 00:00:00',
		maxDate:'2048-12-31 23:59:59',
		eCont:'div1',
		onpicked:function(dp){
			m_dtCalendarDate = 
			$$('#dtCalendarDate')[0].value=dp.cal.getDateStr();
		},
		lang: 'zh-cn',
		startDate:m_dtCalendarDate
	});	
	
}

function goReport(){
	window.location.href='/report?start_date='+$$('#dtCalendarDate')[0].value
}


</script>

<div class="caption"><h2>报表明细</h2></div>

<div class="article_box">
<p>报表日期：<input class="formtextinput3" type="text" value="" id="dtCalendarDate" readonly="readonly"/>
	<div id="div1" class="widthpercent100"></div></p>
<p><input class="formbutton" type="button" name="button" id="button" value="查询" onclick="goReport();" /><p>

</div>

<br/>
