$def with (name, str1, base_sku, unit_type, cate, shops)

$var title: 平台管理
$var css:
$var name: $'|'.join(str1) $name
$var js: /static/js/sku_store.js?v=1.006
$var load:
$var menu: #plat1

<div class="caption"><h2>新建SKU</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/plat/sku_store_new">

<p>请选择SKU基础资料：
<select id="base_sku" name="base_sku" onchange="select_base()">
	<option value="" selected="selected">--请选择--</option>
$for k in base_sku:
	<option value="$k[0]">$k[1]</option>
</select>
</p>

<table class="props_tb">
<thead>
        <tr class="even">
        	<th>项目</th>
                <th>内容</th>
                <th>说明</th>
        </tr>
</thead>
<tbody>

<tr><td>品名</td><td>
	<input type="text" name="sku_name" id="sku_name" value="" disabled="true"/>
	</td><td>此处不可修改</td></tr>

<tr><td>商品类目</td><td>
<select id="category" name="category">
$for k in cate.keys():
	<option value="$k">$cate[k]</option>
</select>
</td><td></td></tr>

<tr><td>文描</td><td>
	<textarea rows="3" name="abstract" id="abstract" disabled="true"></textarea>
	</td><td>此处不可修改</td></tr>
<tr><td>原产地</td><td>
	<input type="text" name="original" id="original" value="" disabled="true"/>
	</td><td>此处不可修改</td></tr>

<tr><td>图片</td><td>
	<ul id="image-list"></ul>
	</td><td></td></tr>

<tr><td>保质期</td><td>
	<input type="text" name="fresh_time" id="fresh_time" value="0" 
	pattern="[0-9]+" title="必须是数字"/> 天
	</td><td>0表示无限制</td></tr>	

<tr><td>销售单位</td><td>
	<select name="unit" id="unit">
	<option value="" selected="selected">--请选择--</option>
	$for i in unit_type.keys():
		<option value="$i">$unit_type[i]</option>
	</select>
	</td><td></td></tr>

<tr><td>区域</td><td>
	<select name="city" id="unit">
		<option value="1" selected="selected">上海</option>
	</select>
	</td><td>此项保存后不能再修改</td></tr>

<tr><td>代码分类</td><td>
	<input type="radio" name="is_pack" value="1" /> 生鲜
	<input type="radio" name="is_pack" value="2" /> 食品
	<input type="radio" name="is_pack" value="9" /> 组合
	<input type="radio" name="is_pack" value="0" /> 物料
	</td><td>此项保存后不能再修改</td></tr>

<tr><td>商品种类</td><td>
	<input type="radio" name="is_pack2" value="1" /> 整进整出
	<input type="radio" name="is_pack2" value="2" /> 散进散出
	<input type="radio" name="is_pack2" value="3" /> 散进整出
	</td><td>此项保存后不能再修改</td></tr>

<tr><td>参考成本</td><td>
	<input type="text" name="ref_cost" id="ref_cost" value="0.00"
	pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
	</td><td>门店进货价（只用于门店核算成本）</td></tr>

<tr><td>参考售价</td><td>
	<input type="text" name="ref_price" id="ref_price" value="0.00"
	pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
	</td><td>门店默认售价</td></tr>

<tr><td>最低价格</td><td>
	<input type="text" name="min_price" value="0.00" 
	pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
	</td><td>用于防呆检查</td></tr>
<tr><td>最高价格</td><td>
	<input type="text" name="max_price" value="999.99" 
	pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
	</td><td>用于防呆检查</td></tr>

<tr><td>App销售</td><td>
    <input type="radio" name="list_in_app" value="0" checked="checked" /> 不是
    <input type="radio" name="list_in_app" value="1"/> APP销售
    <input type="radio" name="list_in_app" value="3"/> 整箱预售
    <input type="radio" name="list_in_app" value="4"/> B2B销售
    </td><td>散进散出商品不能app销售</td></tr>

<tr><td>App显示的标题</td><td>
	<input type="text" name="app_title" id="app_title" value="" />
	</td><td>只会在app中显示</td></tr>

<tr><td>App推荐标签</td><td>
    <input type="radio" name="promote" value="1"  /> 显示
    <input type="radio" name="promote" value="0" checked="checked"/> 不显示
    </td><td></td></tr>

<tr><td>App显示排序权重</td><td>
	<input type="text" name="sort_weight" value="999" 
	pattern="[0-9]+" title="必须是数字"/>
	</td><td>0排最前，数值最大排最后</td></tr>

<tr><td>App最大购买量</td><td>
	<input type="text" name="maximun" value="0" 
	pattern="[0-9]+" title="必须是数字"/>
	</td><td>0表示无限制</td></tr>

<tr><td>App赠品</td><td>
    <input type="radio" name="is_gift" value="1"  /> 是
    <input type="radio" name="is_gift" value="0" checked="checked"/> 不是
    </td><td></td></tr>
<tr><td>App促销品</td><td>
    <input type="radio" name="is_onsale" value="1"  /> 是
    <input type="radio" name="is_onsale" value="0" checked="checked"/> 不是
    </td><td></td></tr>
<tr><td>App促销价格</td><td>
	<input type="text" name="special_price" id="special_price" value="0.00" 
	pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
	</td><td>为促销品时，此价格才有意义</td></tr>

<tr><td>App首单可见</td><td>
    <input type="radio" name="first_order" value="1" /> 首单可见
    <input type="radio" name="first_order" value="0" checked="checked" /> 全部可见
    </td><td></td></tr>

<tr><td>App售完隐藏</td><td>
    <input type="radio" name="hide_after_0" value="1" /> 是
    <input type="radio" name="hide_after_0" value="0" checked="checked" /> 否
    </td><td></td></tr>

<tr><td>是否送货</td><td>
    <input type="radio" name="shipping" value="1" checked="checked" /> 可送货上门
    <input type="radio" name="shipping" value="0" /> 只能自提
    </td><td></td></tr>
<tr><td>送货费</td><td>
    <input type="radio" name="free_delivery" value="0" checked="checked" /> 按规则收取
    <input type="radio" name="free_delivery" value="1" /> 免送货费
    </td><td></td></tr>
<tr><td>是否可到付</td><td>
    <input type="radio" name="wxpay_only" value="1" checked="checked" /> 只能网上支付
    <input type="radio" name="wxpay_only" value="0" /> 可以货到付款
    </td><td>C.O.D.</td></tr>

<tr><td>指定门店上架</td><td>
<select multiple="multiple" size="5" name="shop_online">
$for i in shops:
	<option value ="$i[0]">$i[1]</option>
</select>    
</td><td>不选表示未指定，均上架</td></tr>

<tr><td>状态</td><td>
    <input type="radio" name="available" value="1" checked="checked" /> 在使用
    <input type="radio" name="available" value="0" /> 停用
    </td><td>停用时，所有门店库存将下架，优先级高于“指定门店上架”</td></tr>

<tr><td>备注</td><td>
	<textarea rows="3" name="note"></textarea>
	</td><td>内部备注</td></tr>

</tbody></table>

<p><input type="button" name="button" id="button" value="保存" onclick="check_all();"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>

<br/>

